body {
    font-family: Arial, sans-serif;
    background-color: #FFE4F4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    color: #DD1096;
}

h2 {
    font-size: 20px;
    color: #8E2D6D;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    border: 2px solid #DD1096;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8E2D6D;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #721d57;
    }

.btn-agendar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #25D366; /* Cor padrão do WhatsApp */
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
}

    .btn-agendar i {
        margin-right: 8px;
    }

#voucher-image {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

#voucher-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}
