body {
    font-family: Arial, sans-serif;
    background-color: #FFE4F4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    color: #DD1096;
    margin: 0;
}

h2 {
    font-size: 20px;
    color: #8E2D6D;
    margin-top: 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

button {
    background-color: #8E2D6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

    button:hover {
        background-color: #6F1F4F;
    }

#voucher-image {
    margin-top: 20px;
}

#voucher-img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
}

#voucher-date {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-agendar {
    display: inline-flex;
    align-items: center;
    background-color: #8E2D6D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

    .btn-agendar i {
        margin-right: 8px;
        font-size: 18px;
    }

    .btn-agendar:hover {
        background-color: #6F1F4F;
    }
